/* Barra de navegación */
.nav {
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(214, 18, 18, 0.925);
}

/* Enlaces */
.nav-link {
    color: #e61a1ab2;
    margin-right: 15px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #cf2121fd;
}

.nav-link.active {
    color: #cf2121fd;
    border-bottom: 2px solid #ffffff;
}

/* Formulario de búsqueda */
.d-flex {
    display: flex;
    align-items: center;
}

.form-control {
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #8b2222;
    margin-right: 10px;
}

.form-control:focus {
    border-color: #ad2323;
    box-shadow: 0 0 5px #ce6f6c;
}

/* Botón */
.btn-outline-success {
    color: #ee0e0e;
    border-color: hsl(0, 88%, 55%);
    border-radius: 20px;
    padding: 8px 15px;
}

.btn-outline-success:hover {
    background-color: #fd7e7e;
    border-color: #c71111;
}
.dropdown-menu {
  position: absolute;
  color: white;
  background-color: rgb(0, 0, 0);
  z-index: 9999;
}
