/* Estilo para la barra de navegación */
.nav {
    background-color: #000000; /* Fondo lila claro */
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo para los enlaces de navegación */
.nav-link {
    color: #e61a1ab2; /* Color de texto lila */
    margin-right: 15px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

.nav-link:hover {
    color: #cf2121fd; /* Lila más oscuro al pasar el ratón */
}

/* Estilo para el enlace activo */
.nav-link.active {
    color: #cf2121fd; /* Color para el enlace activo */
    border-bottom: 2px solid #ffffff; /* Línea debajo del enlace activo */
}

/* Estilo para el formulario de búsqueda */
.d-flex {
    display: flex;
    align-items: center;
}

.form-control {
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #8b2222; /* Bordes lila */
    margin-right: 10px;
}

.form-control:focus {
    border-color: #ad2323; /* Color del borde al hacer foco */
    box-shadow: 0 0 5px #ce6f6c; /* Sombra suave en el foco */
}

/* Estilo para el botón de búsqueda */
.btn-outline-success {
    color: #ee0e0e; /* Texto lila */
    border-color: hsl(0, 88%, 55%); /* Borde lila */
    border-radius: 20px;
    padding: 8px 15px;
}

.btn-outline-success:hover {
    background-color: #fd7e7e; /* Fondo lila claro en hover */
    color: white; /* Texto blanco */
    border-color: #c71111; /* Borde lila */
}